{% extends "base.html" %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="p-2 bd-highlight">
    <h1 class="display-1">Connexion</h1>
</div>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="d-flex flex-column justify-content-around p-2">
        <div class="form-group">
            <label for="login">{{ form.username.label_tag }}</label>
            <input type="login" name="username" class="form-control" id="login" aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">{{ form.password.label_tag }}</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
    </div>
    <div class="form-group p-2">
        <input type="hidden" name="next" value="{{ next }}">
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </div>
</form>
{% endblock %}