{% extends "base.html" %}

{% block title %}Réponses à l'enquête{% endblock %}

{% block content %}
<div class="p-2 m-2">
    <h2>Enquête de positionnement à destination des étudiants</h2>
</di>
<div class="p-2 m-2">
    <form id="monFormulaire">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="nom">Votre nom :</label>
            <div class="col-sm-10">
                <div>{{ answer.fullname }}</div>
            </div>
        </div>
        <br>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Difficulté :</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="easy" name="difficulty" value="EA" {% if 'EA' in answer.difficulty %}checked{% endif %}>
                        <label class="form-check-label" for="easy">Facile</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="normal" name="difficulty" value="NO" {% if 'NO' in answer.difficulty %}checked{% endif %}>
                        <label class="form-check-label" for="normal">OK</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="hard" name="difficulty" value="HA" {% if 'HA' in answer.difficulty %}checked{% endif %}>
                        <label class="form-check-label" for="hard">Un peu compliqué</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="veryHard" name="difficulty" value="VA" {% if 'VA' in answer.difficulty %}checked{% endif %}>
                        <label class="form-check-label" for="veryHard">Très compliqué</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="extreme" name="difficulty" value="EX" {% if 'EX' in answer.difficulty %}checked{% endif %}>
                        <label class="form-check-label" for="easy">Au secours !!</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Progression :</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="acquired" name="progression" value="AC" {% if 'AC' in answer.progression %}checked{% endif %}>
                        <label class="form-check-label" for="acquired">J'ai compris</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="inProgress" name="progression" value="IP" {% if 'IP' in answer.progression %}checked{% endif %}>
                        <label class="form-check-label" for="inProgress">Je dois encore pratiquer</label><br>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" id="notYetAcquired" name="progression" value="NA" {% if 'NA' in answer.progression %}checked{% endif %}>
                        <label class="form-check-label" for="notYetAcquired">C'est flou</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="rangeProgress">Avancement :</label>
            <div class="col-sm-10">
                <input class="form-range" width="30%" type="range" id="rangeProgress" name="progression" min="0" max="100" step="10" value="{{ answer.percentage }}" oninput="rangeProgressDisplay.value =this.value;">
                <div><output id="rangeProgressDisplay">{{ answer.percentage }}</output>%</div>
                <br>
            </div>
        </div>
    </form>
</div>

<script>
function collecterDonneesEtEnvoyer() {
    const difficulteChoisie = document.querySelector('input[name="difficulty"]:checked')?.value;
    const progressionChoisie = document.querySelector('input[name="progression"]:checked')?.value;
    const pourcentageChoisi = document.getElementById('rangeProgress').value;

    const data = {
        difficulty: difficulteChoisie,
        progression: progressionChoisie,
        percentage: pourcentageChoisi
    };

    fetch('http://127.0.0.1:5000/efddqsfqsdf', {
        method: 'POST',
        credentials: 'include',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
        console.log('Succès:', data);
    })
    .catch((error) => {
        console.error('Erreur:', error);
    });
}

// Exécuter la fonction toutes les minutes
setInterval(collecterDonneesEtEnvoyer, 60000);
</script>
{% endblock %}