{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="p-2 text-center">
    <h1> Bonjour, {{ user.first_name }}! </h1>
</div>
<div class="p-2 text-center">
    <h2> Nous sommes {{ date }}, vous avez {{ surveyCount }} enquêtes en cours</h2>
</div>
<div class="p-2 text-center"> 
    <a class="btn btn-secondary"  href="{% url 'session_list' %}"  role="button">Accéder à la liste d'enquêtes</a>
</div>
{% else %}
<div class="p-2 text-center">
    <h1> Bonjour !!!! </h1>
</div>
<div class="p-2 text-center">
    <h2> Bienvenue sur notre super site d'enquête.<br>Veuillez vous authentifier pour continuer</h2>
</div>
{% endif %}
{% endblock %}